# Core Libraries
pandas
numpy
scikit-learn
nltk

# Machine Learning Models
xgboost
tensorflow
torch

# MLOps Tools
mlflow
dvc
docker
fastapi

# Logging & Monitoring
logging

# Data Visualization
matplotlib
seaborn

# Others
tqdm
